<div class="container flex h-full justify-center items-center gap-10 flex-col ">
  <form [formGroup]="loginForm" class=" flex flex-wrap flex-col gap-3 justify-center items-center border-2 p-10"
        method="post">
    <div class="flex flex-col w-96 ">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [formControl]="loginForm.controls.username">
        <!--      <span matTextSuffix="">-->
        <!--                <mat-icon color="primary">user</mat-icon>-->
        <!--      </span>-->
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [formControl]="loginForm.controls.password">
      </mat-form-field>

      <button color="primary" class="mb-3" mat-raised-button [disabled]="!loginForm.valid">Log in</button>

      <div class="w-96 flex flex-row flex-1 items-center mb-5">
        <div class="w-full bg-indigo-500 h-0.5"></div>
        <span class="mx-3">OR</span>
        <div class=" w-full bg-indigo-500 h-0.5"></div>
      </div>

      <button mat-raised-button class="mb-5"> Make GOOGLE LOGIN</button>
    </div>
    <a role="link">
      <span routerLink="password-reset">Forgot password? //TODO</span>
    </a>
  </form>

  <div class="border-2 w-96 px-10 py-5 border-blue-500 flex items-center justify-center">
    <p class="">Don't have an account?
        <a routerLink="register">
          Register
        </a>
    </p>
  </div>

</div>





